<div class="container">
  <h1> Paginas de oferta </h1>
  <p> <%= link_to "Cadastrar nova pagina", new_selling_page_path %> </p>

  <% @selling_pages.each do |selling_page| %>
    <p>
      <%= selling_page.id %>
      <%= selling_page.name %>
      <%= selling_page.url %>
      <%= selling_page.description %>
      <%= link_to "Editar", edit_selling_page_path(selling_page) %>
      <%= link_to "Apagar", selling_page_path(selling_page), method: :delete %>
    </p>
  <% end %>
</div>