<div class="container">
  <h2> Paginas de vendas </h2>
  <p> <%= link_to "Cadastrar nova pagina", new_selling_page_path, class: "btn btn-primary" %> </p>
  <table class="table">
    <thead>
      <th scope="col">ID</th>
      <th scope="col">Produto</th>
      <th scope="col">Nome da pagina</th>
      <th scope="col">URL</th>
      <th scope="col">Editar</th>
      <th scope="col">Apagar</th>
    </thead>
    <tbody>
      <% @selling_pages.each do |selling_page| %>
        <tr class="<%= cycle('list_line_odd', 'list_line_even') -%>">
          <td><%= selling_page.id %></td>
          <td><%= link_to selling_page.product.name, selling_page_path(selling_page), style: "color: #1c54d6;" %></td>
          <td><%= selling_page.name %></td>
          <td><%= selling_page.url %></td>
          <td>
            <%= link_to  edit_selling_page_path(selling_page) do %>
              <i class="far fa-edit"></i>
            <% end %>
          </td>
          <td>
            <%= link_to selling_page_path(selling_page), method: :delete, data: { confirm: 'Você tem certeza que deseja apagar o produto?' } do %>
              <i class="fa fa-trash"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
