<div id="bank-slip" data-target="payment-method.bankSlip" hidden="hidden">
    <div class="tab-content mt-4">
        <div class="tab-pane fade show active">
            <div class="row w-100">
                <div class="col-12 mb-2">
                <%= image_tag("Boleto.jpg", class: "img-fluid d-block mx-auto") %>
                </div>
                <div class="col-12">
                    <ol>
                        <li>Pagamentos por boleto só podem ser efetuados à vista</li>
                        <li>A compensação do pagamento pode levar até 3 dias úteis</li>
                        <li>O Boleto será gerado por meio da plataforma Pagarme</li>
                        <li>Depois do pagamento, fique atento ao seu e-mail para acompanhar o envio do seu pedido (verifique também
                        a caixa de SPAM)</li>
                    </ol>
                </div>

                <div class="col-12">            
                    <%= render "orders/new/shared/upsell", f: f, order: order %>
                </div>

                <div class="col-12">
                    <div class="form-group row font-weight-bold">
                        <div>
                            <div class="border-bottom mb-1">
                                <p class="col-12" data-target="upsell.bankSlipProductPrice" data-product-price="<%= order.kit.price %>">Produtos:</p>
                                <p class="col-12" data-target="zipcode.shipment" hidden>Frete:</p>
                            </div>
                            <div>
                                <p class="col-12" data-target="zipcode.shipment" hidden>Total:</p>
                            </div>
                        </div>
                        <div>
                            <div class="border-bottom mb-1">
                                <p class="col-12" data-target="upsell.productsPrice" data-products-price="<%= order.kit.price %>"><%= number_to_currency(order.kit.price, unit: "R$ ") %></p>
                                <p class="col-12" data-target="zipcode.shipment" hidden><%= order_shipping(order) %></p>
                            </div>
                            <div>
                                <p class="col-12" data-target="upsell.totalPrice zipcode.totalPrice" data-total-price="<%= order.kit.price + order.kit.shipment_cost %>" hidden><%= number_to_currency(order.kit.price + order.kit.shipment_cost, unit: "R$ ") %></p>
                            </div>
                        </div>
                        <%= render "orders/new/shared/calculating_shipment", f: f, order: order %>
                    </div>
                </div>
                <div class="col-12 mb-3">
                    <%= f.input :bank_slip_cpf, label: "CPF (Para emissão da Nota Fiscal)", input_html: { data: { js: "cpf" } }, maxlength: 14 %>
                </div>
                <div class="col-12">
                    <%= f.submit "Finalizar Pedido", name:"boleto", class: "btn btn-success btn-block", style: "color: #fff; background-color: #28a745; border-color: #28a745" %>
                </div>
            </div>
        </div>
    </div>
    
</div>