<div class="container">
  <h2>Gerenciamento de produto do kit</h2>
  <p>
    Meus produtos
    <%= link_to "Adicionar produto", new_kit_product_path(params["format"]) %>
  </p>
  <p> <%= link_to "Voltar", kits_path %> </p>
  <table class="table">
    <thead>
      <th scope="col">Imagem</th>
      <th scope="col">Produto</th>
      <th scope="col">Quantidade</th>
      <th scope="col">Preco</th>
      <th scope="col"></th>
    </thead>
    <tbody>
      <% @list_products.each do |list_product| %>
        <tr>
          <th scope="row">imagem</th>
          <td><%= list_product.product.name %></td>
          <td><%= list_product.quantity %></td>
          <td>R$ <%= list_product.price %></td>
          <td><%= link_to "Apagar produto", "/kit_products/#{list_product.id}", method: :delete, data: { confirm: 'Você tem certeza que deseja apagar o produto?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>