<div class="container">
  <%= simple_form_for [:admin, @product, @inventory] do |f| %>
    <div class="styler">
      <%= f.association :product, value_method: :id, label: "Produto" %>
      <%= f.input :quantity, label: "Quantidade" %>
      <%= f.input :observation, label: "Observação" %>
      <%= f.input :flag_quantities, label: "Quantidade minima para alerta" %>
      <%= f.button :submit, 'Editar', class: "btn btn-primary submit-product" %>
    </div>
  <% end %>
</div>