<div data-controller="masks" class="container" style="padding-bottom: 15px;">
  <h2>Novo kit</h2>
  <%= simple_form_for [:admin, @kit] do |f| %>
    <div class="styler">
      <div class="kit-row">
        <%= f.input :name, label: 'Nome do kit' %>
        <%= f.input :description, label: 'Descrição' %>
        <div class="payment-fields-ship">
            <%= f.input :amount_cents, label: 'Valor do Kit em Centavos' %>
        </div>
      </div>
      <div class="kit-row">
        <div class="titles">
          Banner
        </div> 
        <div class="size">
          <%= f.input :banner, as: :file, label: "Foto do Banner largura:1070px, altura: 300px" %>
        </div>       
      </div>
      <div class="kit-row">
        <div class="titles">
          Pagamento
        </div>
        <div class="payment-fields" data-controller="kit">
          <div class="type-space">
            <%= f.input :payment_type, label: 'Tipo de pagamento',:as => :select, :collection => [['Único',Kit.payment_types.keys[0]],['Assinatura',Kit.payment_types.keys[1]]], input_html: { data: { action: "event -> kit#plans"}} %>
          </div>
          <div data-target="kit.plan" style="display: none">
            <%= f.association :plan, collection: Plan.all.where(visible: true), label: 'Plano'  %>
          </div>


          <div data-target="kit.installments" style="display: none">
            <%= f.input :standard_installments, label: 'Parcela padrao', input_html: {value: f.object.standard_installments || '12'} %>
            <%= f.input :maximum_installments, label: 'Parcela maxima', input_html: {value: f.object.maximum_installments || '12'} %>
          </div>
        </div>
        <div class="payment-fields-ship">
          <%= f.input :allow_free_shipment, label: 'Permitir frete grátis',:as => :select, :collection => [['Nao',false],['Sim',true]], :include_blank => false %>
          <div class="shippingcost">
          <%= f.input :shipment_cost, label: 'Frete' %>
          </div>
        </div>
      </div>
      <div class="kit-row">
        <div class="titles">
          Dimensões
        </div>
        <div class="size">
          <%= f.input :weight, label: 'Peso' %>
          <%= f.input :height, label: 'Altura' %>
          <%= f.input :width, label: 'Largura' %>
          <%= f.input :length, label: 'Comprimento' %>
        </div>
      </div>
      <div class="kit-row" data-controller="upsell">
        <div class="titles">
          Upsell
        </div>
        <div>
          <%= f.input :copy, label: "Copy para o upsell" %>
          <div data-target="upsell.collection" style="display: none;">
            <%#= f.association :upsell_product, collection: @list %>
          </div>
        </div>
      </div>
      <div class="kit-row">
        <div class="titles">
          Adicionar produtos ao kit
        </div>
        <%= f.fields_for :kit_products do |kit_product| %>
          <%= render 'kit_product_fields', f: kit_product %>
        <% end %>
        <div class="links">
          <%= link_to_add_association "Adicionar produto", f, :kit_products %>
        </div>
      </div>
    </div>
    <div class="form-total-price">
      <%= f.button :submit, 'Cadastrar', class: "btn btn-primary submit-product" %>
    </div>
  <% end %>
</div>