<div class="container">
  <h2>Editar kit</h2>
  <%= simple_form_for [:admin, @kit] do |f| %>
    <div class="styler">
      <div>
        <%= f.input :name, label: 'Nome do kit' %>
        <%= f.input :description, label: 'Descrição' %>
      </div>

      <div>
        <%= f.input :possale, label: 'Esse kit tera upsell de produto?', as: :select %>
      </div>

      Pagamento
      <div class="payments">
        <div class="payment-fields" data-controller="kit">
          <div class="type-space">
            <%= f.input :payment_type, label: 'Tipo de pagamento',:as => :select, :collection => [['Único',Kit.payment_types.keys[0]],['Assinatura',Kit.payment_types.keys[1]]], input_html: { data: { action: "event -> kit#plans"}}, disabled: true %>
          </div>
          <% if @kit.payment_type == 'subscription' %>
            <div data-target="kit.plan">
              <%= f.association :plan, collection: Plan.all.where(active: false), label: 'Plano', disabled: true  %>
            </div>
          <% else %>
            <div data-target="kit.installments" style="display: flex">
              <%= f.input :standard_installments, label: 'Parcela padrao', input_html: {value: f.object.standard_installments || '12'} %>
              <%= f.input :maximum_installments, label: 'Parcela maxima', input_html: {value: f.object.maximum_installments || '12'} %>
            </div>
          <% end %>
        </div>
        <div class="payment-fields-ship">
          <%= f.input :allow_free_shipment, label: 'Permitir frete grátis',:as => :select, :collection => [['Nao',false],['Sim',true]], :include_blank => false, disabled: true %>
          <div class="shippingcost">
          <%= f.input :shipment_cost, label: 'Frete' %>
          </div>
        </div>
      </div>
        <div class="size">
          <%= f.input :weight, label: 'Peso' %>
          <%= f.input :height, label: 'Altura' %>
          <%= f.input :width, label: 'Largura' %>
          <%= f.input :length, label: 'Comprimento' %>
        </div>

      <h4>Adicionar produtos</h4>
      <%= f.fields_for :kit_products do |kit_product| %>
        <%= render 'kit_product_fields', f: kit_product %>
      <% end %>

      <div class="links">
        <%= link_to_add_association "Adicionar produto", f, :kit_products %>
      </div>
      <div class="discount" data-controller="kitprice">
        <%= f.input :discount, label: "Porcentagem de desconto para esse kit", placeholder: "Digitar um numero de 0 a 100", input_html: { "data-target" => "kitprice.discount", "data-action" => "event -> kitprice#discount" } %>
      </div>
    </div>
    <div class="form-total-price">
      <%= f.button :submit, 'Salvar alterações', class: "btn btn-primary submit-product" %>
    </div>
  <% end %>
</div>
