<div class="container">
  <h2>Meus kits</h2>
  <p>
    <%= link_to "Novo kit", new_admin_kit_path, class: "btn btn-primary" %>
  </p>
  <table class="table">
    <thead>
      <th scope="col">ID</th>
      <th scope="col">Imagem</th>
      <th scope="col">Nome</th>
      <th scope="col">Url da página de venda</th>
      <th scope="col">Produtos</th>
      <th scope="col">Editar</th>
      <th scope="col">Apagar</th>
    </thead>
    <tbody>
      <% @kits.each do |kit| %>
        <tr class="<%= cycle('list_line_odd', 'list_line_even') -%>">
          <th scope="row"><%= kit.id %></th>
          <td><%= image_tag kit.banner, height: 75 if kit.banner.attached? %></td>
          <td><%= kit.name %></td>
          <td><%= link_to "#{root_url}#{kit.slug}", "#{root_url}#{kit.slug}", target: "_blank", class: "text-decoration-none" %> </td>
          <td>
            <%= render partial: 'modal', :locals => {:kit => kit, :products => @products} %>
          </td>
          <td>
            <%= link_to edit_admin_kit_path(kit) do %>
              <i class="far fa-edit"></i>
            <% end %>
          </td>
          <td>
            <%= link_to admin_kit_path(kit), method: :delete, data: { confirm: 'Você tem certeza que deseja apagar o produto?' } do %>
              <i class="fa fa-trash"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
