<div class="order-info-kit-image-list" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @order.kit.banner.key, height: 50, crop: :fill %>')">
</div>
<div class="order-info-kit-name">
  <%= order.kit.name.capitalize %>
</div>
<div class="order-info-kit-name">
  <%= number_to_currency(order.price * 100, unit: "R$ ", separator: ",")  %>
</div>
<div class="order-info-kit-name">
  <%= number_to_currency( (@order.kit.shipment_cost * 100) , unit: "R$ ", separator: ",")  %>
</div>
<div class="order-info-kit-name">
  <%= number_to_currency( (@order.price * 100 + @order.kit.shipment_cost * 100) , unit: "R$ ", separator: ",")  %>
</div>
<div class="order-info-kit-name">
  <% if order.payment_method %>
    Cartão
  <% else %>
    Boleto
  <% end %>
</div>
<div class="order-info-kit-name text-left">
  <%= render 'tags', status: humanize_order_status(@order) %>
</div>
<div class="order-info-kit-name">
  <!-- UTM Source:  %> -->UTM
</div>
<div class="order-info-kit-name">
  <!-- UTM Campaign:  %> -->CPGN
</div>


