<div class="container">
  <h2>Pedidos</h2>

  <hr>
  <div class="d-flex">
    <input type="text" id="filter_by_name" placeholder="id, nome, email, status" class="form-control mr-sm-2">
  </div>
  <hr>

  <div class="card-product-header">
    <div class="order-small-item">
      <strong>Id</strong>
    </div>
    <div class="order-large-item">
      <strong>Usuário</strong>
    </div>
    <div class="order-large-item">
      <strong>Email</strong>
    </div>
    <div class="order-medium-item">
      <strong>Status - NOVO</strong>
    </div>
    <div class="order-medium-item">
      <strong>Status</strong>
    </div>
    <div class="order-medium-item">
      <strong>Pagamento</strong>
    </div>
    <div class="order-medium-item">
      <strong>Valor Total</strong>
    </div>
    <div class="order-small-item">
      <strong>Infos</strong>
    </div>
  </div>

  <% if @orders.present? %>
    <% @orders.each do |order| %>
      <div class="card-product" data-customer-name="<%= order.customer.name %>" data-customer-email="<%= order.customer.email %>" data-order-id="<%= order.id %>" data-new-status="<%= humanize_order_paid(order.paid) %>" data-order-status="<%= humanize_order_status(order.status) %>" data-payment-method="<%=humanize_order_payment_method(order.payment_method) %>">
        <div class="order-small-item">
          <%= order.id %>
        </div>
        <div class="order-large-item">
          <%= order.customer.name %>
        </div>
        <div class="order-large-item">
          <%= order.customer.email %>
        </div>
        <div class="order-medium-item">
          <%= humanize_order_paid(order.paid)  %>
        </div>
        <div class="order-medium-item">
          <%= humanize_order_status(order.status)  %>
        </div>
        <div class="order-medium-item">
          <%= humanize_order_payment_method(order.payment_method)  %>
        </div>
        <div class="order-medium-item">
          <%= humanize_order_total_value(order) %>
        </div>
        <div class="order-small-item">
          <%= link_to admin_order_path(order) do %>
            <i class="fa fa-info-circle"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>






<div class="container" data-controller="table">
  <h2>Pedidos</h2>

  <table class="table" id="myTable" data-target="table.table">
    <thead>
    <th scope="col">ID</th>
    <th scope="col">Usuário</th>
    <th scope="col">Data criada</th>
    <!-- <th scope="col">Endereço de entrega</th> -->
    <th scope="col">Status</th>
    <th scope="col">Valor</th>
    <th scope="col">Criado em:</th>
    <th scope="col">Detalhes</th>
    </thead>
    <tbody>
    <% if @orders.present? %>
      <% @orders.each do |order|%>
        <% order.order_status %>
        <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
          <td><%= order.id %></td>
          <td><%= link_to order.customer.email, admin_order_path(order) %></td>
          <td><%= order.created_at.strftime("%d-%m-%Y") %></td>
          <td><%= humanize_order_status(order.status) %></td>
          <!-- <td><%= humanized_address(order.address) %></td> -->
          <td><%= number_to_currency(order.kit.amount, unit: "R$ ", separator: ",")  %></td>
          <td><%= order.created_at.strftime("%H:%M | %d-%m-%Y") %></td>
          <td>
            <%= link_to admin_order_path(order) do %>
              <i class="fa fa-info-circle"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
</div>
<!-- a -->
