<div class="container">
  <h1>Meus kits</h1>
  <p>
    Meus kits
    <%= link_to "Novo kit", new_kit_path %>
  </p>
  <p> <%= link_to "Voltar", catalogs_path %></p>

  <table class="table">
    <thead>
      <th scope="col">ID</th>
      <th scope="col">Imagem</th>
      <th scope="col">Nome</th>
      <th scope="col">Produtos</th>
      <th scope="col">Editar</th>
      <th scope="col">Apagar</th>
    </thead>
    <tbody>
      <% @kits.each do |kit| %>
        <tr>
          <th scope="row"><%= kit.id %></th>
          <td>imagem</td>
          <td><%= kit.name %></td>
          <td>
            <button data-toggle="modal" data-target="#products-<%= kit.id %>">
              Ver produtos
            </button>
            <div class="modal fade" id="products-<%= kit.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Produtos</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="container-fluid">
                      <% kit.products.each do |product| %>
                        <div class="row">
                            <div class="col-md-8"><%= product.name %></div>
                            <div class="col-md-3">R$ <%= product.price_cents %></div>
                        </div>
                      <% end %>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                  </div>
                </div>
              </div>
            </div>
          </td>
          <td>
            <%= link_to  edit_kit_path(kit) do %>
              <i class="far fa-edit"></i>
            <% end %>
          </td>
          <td>
            <%= link_to kit_path(kit), method: :delete, data: { confirm: 'Você tem certeza que deseja apagar o produto?' } do %>
              <i class="fa fa-trash"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
