<div class="container">
  <h1>Meus kits</h1>
  <p>
    Meus kits
    <%= link_to "Novo kit", new_kit_path %>
  </p>

  <table class="table">
    <thead>
      <th scope="col">ID</th>
      <th scope="col">Imagem</th>
      <th scope="col">Nome</th>
      <th scope="col">Editar</th>
      <th scope="col">Gerenciar produtos</th>
      <th scope="col">Apagar</th>
    </thead>
    <tbody>
      <% @kits.each do |kit| %>
        <tr>
          <th scope="row"><%= kit.id %></th>
          <td>imagem</td>
          <td><%= kit.name %></td>
          <td><%= link_to "Editar", edit_kit_path(kit) %></td>
          <td><%= link_to "Gerenciar produtos", kit_products_path(kit) %></td>
          <td><%= link_to "Apagar kit", kit_path(kit), method: :delete, data: { confirm: 'Você tem certeza que deseja apagar o kit?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
