 <div class="container">
  <h1>Meus kits</h1>
  <p>
    Meus kits
    <%= link_to "Novo kit", new_kit_path %>
  </p>
  <p> <%= link_to "Voltar", catalogs_path %></p>

  <table class="table">
    <thead>
      <th scope="col">ID</th>
      <th scope="col">Imagem</th>
      <th scope="col">Nome</th>
      <th scope="col">Produtos</th>
      <th scope="col">Editar</th>
      <th scope="col">Apagar</th>
    </thead>
    <tbody>
      <% @kits.each do |kit| %>
        <tr>
          <th scope="row"><%= kit.id %></th>
          <td>imagem</td>
          <td><%= kit.name %></td>
          <td>
            <%= render partial: 'modal', :locals => {:kit => kit, :products => @products} %>
          </td>
          <td>
            <%= link_to  edit_kit_path(kit) do %>
              <i class="far fa-edit"></i>
            <% end %>
          </td>
          <td>
            <%= link_to kit_path(kit), method: :delete, data: { confirm: 'Você tem certeza que deseja apagar o produto?' } do %>
              <i class="fa fa-trash"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>