<% if user_signed_in? %>
  <div class="sidenav">
    <p> <%= link_to "Home", root_path %> </p>
    <p> <%= link_to "Pedidos", admin_orders_path %> </p>
    <p> <%= link_to "Empresas", admin_companies_path %> </p>
    <p> <%= link_to "Produtos", admin_products_path %> </p>
    <p> <%= link_to "Estoque", admin_inventories_path %> </p>
    <p> <%= link_to "Meus kits", admin_kits_path %> </p>
    <p> <%= link_to "Paginas de checkout", admin_selling_pages_path %> </p>
    <p> <%= link_to "Campanhas", admin_campaigns_path %> </p>
    <p> <%= link_to "Planos", admin_plans_path %> </p>
  </div>
<% end %>
