<div class="container">
  <h2>Editar</h2>
  <%= simple_form_for [:admin, @campaign] do |f| %>
    <div class="styler">
      <div class="rows">
        <div>
        <%= f.input :title, label: 'Titulo' %>
        <%= f.association :selling_page, label: 'Pagina de destino' %>
        </div>
        <div class="utm">
          <%= f.input :utm_source, label: 'utm_source' %>
          <%= f.input :utm_campaign, label: 'utm_campaign' %>
          <%= f.input :utm_medium, label: 'utm_medium' %>
          <%= f.input :utm_term, label: 'utm_term' %>
          <%= f.input :utm_content, label: 'utm_content' %>
        </div>
        <%= f.input :fbid, label: 'fbid' %>
        <%= f.input :pubid, label: 'pubid' %>
      </div>
    </div>
        <%= f.button :submit, 'Editar', class: "btn btn-primary submit-product" %>
  <% end %>
</div>
