<div class="container">
  <h2>Campanhas</h2>
  <p> <%= link_to "Nova campanha", new_admin_campaign_path, class: "btn btn-primary" %> </p>
  <table class="table">
    <thead>
      <th scope="col">Nome</th>
      <th scope="col">Visitas</th>
      <th scope="col">Título do advetorial</th>
      <th scope="col">Url da campanha</th>
      <th scope="col">Url da redirecionamento</th>
      <th scope="col">Ações</th>
    </thead>
    <tbody data-controller="clipboard">
      <% @campaigns.each do |campaign| %>
        <tr class="<%= cycle('list_line_odd', 'list_line_even') -%>">
          <td><%= campaign.title %></td>
          <td><%= campaign.visits.count %></td>
          <td><%= campaign.selling_page.name %></td>
          <td><%= link_to campaign_url(campaign), campaign_url(campaign), target: "_blank" %></td>
          <td><%= link_to "#{campaign.selling_page.url}", "#{campaign.selling_page.url}", target: "_blank" %></td>
          <td><%= link_to "Editar", edit_admin_campaign_path(campaign)%></td>
          <td><%= link_to "Apagar", admin_campaign_path(campaign), method: :delete %></td>
          <td hidden="hidden" data-target="clipboard.hidden"><input type="text" data-target="clipboard.url" value="<%= campaign_url_for(campaign) %>"></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
