 <div data-controller="zipcode masks payment-method upsell">
  <%= simple_form_for @order, url: orders_path, method: :post do |f| %>
    <%= f.input :kit_id, as: :hidden %>
    <%= f.input :visit_id, as: :hidden %>
    <div class="mt-4 mb-4">
      <%= image_tag "banner_vmd3.png", width: "1070px", height: "300px", style: "" %>
    </div>

    <div class="row mb-4 w-100">
      <div class="col-12 col-md-6">
        <div class="card mb-4">
          <div class="card-header text-center">
            <h4>1 - Para Onde Enviamos Seu Pedido?</h4>
          </div>

          <div class="card-body">
            <div class="form-group row">
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <%= f.input :first_name, label: "Nome", placeholder: "Digite seu nome" %>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <%= f.input :last_name, label: "Sobrenome", placeholder: "Digite seu sobrenome" %>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <%= f.input :email, label: "E-mail", placeholder: "seu@email.com.br" %>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <%= f.input :phone, label: "Celular com DDD", placeholder: "(__) _____-____", input_html: { data: { js: "phone" } }, maxlength: 16 %>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-8 col-sm-6">
                <div class="form-group">
                  <%= f.input :zipcode, label: "CEP", placeholder: "00000-000", input_html: { data: { action: "input->zipcode#search", js: "cep" } } %>
                </div>
              </div>
            </div>

            <div id="address-form" data-target="zipcode.address">
              <div class="form-group row">
                <div class="col-8">
                  <div class="form-group">
                    <%= f.input :street, label: "Endereço", placeholder: "Rua, Avenida, Travessa...", input_html: { data: { target: "zipcode.street" } } %>
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <%= f.input :number, label: "Número", as: :numeric %>
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <%= f.input :complement, label: "Complemento", placeholder: "Bloco, Apto..." %>
                  </div>
                </div>
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <%= f.input :neighborhood, label: "Bairro", placeholder: "Bairro", input_html: { data: { target: "zipcode.neighborhood" } } %>
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-8">
                  <div class="form-group">
                    <%= f.input :city, label: "Cidade", placeholder: "Cidade", input_html: { data: { target: "zipcode.city" } } %>
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <%= f.input :state, label: "Estado", required: true, as: :select, collection: states_list, prompt: "Estado", input_html: { data: { target: "zipcode.state" } } %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="card">
          <div class="card-header text-center">
            <h4>2 - Selecionar Pagamento</h4>
          </div>

          <div class="card-body">
            <div class="nav nav-tabs">
              <p class="nav-link active show border" data-action="click->payment-method#creditCard" data-target="payment-method.cardBtn">Cartão de Crédito</p>
              <p class="nav-link show border" data-action="click->payment-method#bankSlip" data-target="payment-method.slipBtn">Boleto</p>
              <div id="credit-card" data-target="payment-method.creditCard">
                <div class="tab-content mt-4">
                  <div class="tab-pane fade show active">
                    <div class="form-group row">
                      <div class="col-12 text-center">
                        <span class="d-inline-block align-middle">
                          <%= image_tag("visa.png") %>
                        </span>
                        <span class="d-inline-block align-middle">
                          <%= image_tag("mastercard.png") %>
                        </span>
                        <span class="d-inline-block align-middle">
                          <%= image_tag("amex.png") %>
                        </span>
                        <span class="d-inline-block align-middle">
                          <%= image_tag("dinners-club.png") %>
                        </span>
                        <span class="d-inline-block align-middle">
                          <%= image_tag("elo.png") %>
                        </span>
                        <span class="d-inline-block align-middle">
                          <%= image_tag("hipercard.png") %>
                        </span>
                      </div>
                      <div class="col-12 mb-1">
                        <%= f.input :credit_card_number, label: "Número do cartão", input_html: { data: { js: "creditCard" } }, maxlength: 19 %>
                      </div>
                      <div class="col-12 col-sm-6 mb-1">
                        <%= f.input :credit_card_name, label: "Nome do titular", placeholder: "Como impresso no cartão" %>
                      </div>
                      <div class="col-12 col-sm-6 mb-1">
                        <%= f.input :credit_card_cpf, label: "CPF do titular", placeholder: "Para envio da nota fiscal", input_html: { data: { js: "cpf" } }, maxlength: 14 %>
                      </div>
                      <div class="col-12 col-sm-6 mb-1">
                        <div class="row no-gutters">
                          <label class="string optional" for="order_credit_card_expiration_month">Data de expiração</label>
                          <div class="col-6">
                            <%= f.input :credit_card_expiration_month, label: false, as: :select, collection: month_number_list, prompt: "Mês" %>
                          </div>
                          <div class="col-6">
                            <%= f.input :credit_card_expiration_year, label: false, as: :select, collection: year_list, prompt:"Ano" %>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-sm-6">
                        <%= f.input :credit_card_cvv, label: "Cód. de segurança", placeholder: "3 ou 4 dígitos", input_html: { data: { js: "numbers" } }, maxlength: 4 %>
                      </div>
                    </div>
                    <h5 class="col-12 col-md-12">
                      <h5 class="col-12 col-md-12" data-target="upsell.creditCardProductPrice" data-product-price="<%= @order.kit.amount %>">
                        <%= "Produtos: #{number_to_currency(@order.kit.amount, unit: "R$ ")}" %>
                      </h5>
                      <div>
                        <%= "Frete: #{order_shipping(@order)}" %>                            
                      </div>
                      <div data-target="upsell.creditCardTotal" data-total="<%= @order.kit.amount + @order.kit.shipment_cost %>">
                        <%= "Total: #{number_to_currency(@order.kit.amount + @order.kit.shipment_cost, unit: "R$ ")}" %>
                      </div>
                    </h5>
                    <div class="form-group w-100">
                      <%= f.input :installments, label: "Parcelamento", as: :select, collection: order_installments(@order), input_html: { data: { target: "upsell.installments" } } %>
                    </div>
                  </div>
                </div>
                <%= f.submit "Finalizar Pedido", name:"card", class: "btn btn-success submit-button", style: "color: #fff; background-color: #28a745; border-color: #28a745" %>
              </div>
              <div id="bank-slip" data-target="payment-method.bankSlip" hidden="hidden">
                <div class="tab-content mt-4">
                  <div class="tab-pane fade show active">
                    <div class="row w-100">
                      <div class="col-12 mb-2">
                        <%= image_tag("Boleto.jpg", class: "img-fluid d-block mx-auto") %>
                      </div>
                      <div class="col-12">
                        <ol>
                          <li>Pagamentos por boleto só podem ser efetuados à vista</li>
                          <li>A compensação do pagamento pode levar até 3 dias úteis</li>
                          <li>O Boleto será gerado por meio da plataforma Appmax</li>
                          <li>Depois do pagamento, fique atento ao seu e-mail para acompanhar o envio do seu pedido (verifique também
                            a caixa de SPAM)</li>
                        </ol>
                      </div>
                      <div class="form-group row">
                        <h5 class="col-12 col-md-12">
                          <h5 class="col-12 col-md-12" style="margin-left: 30px" data-target="upsell.bankSlipProductPrice" data-product-price="<%= @order.kit.amount %>">
                            <%= "Produtos: #{number_to_currency(@order.kit.amount, unit: "R$ ")}" %>
                          </h5>
                          <div style="margin-left: 30px;">
                            <div>
                              <%= "Frete: #{order_shipping(@order)}" %>                            
                            </div>
                            <div data-target="upsell.bankSlipTotal" data-total="<%= @order.kit.amount + @order.kit.shipment_cost %>">
                              <%= "Total: #{number_to_currency(@order.kit.amount + @order.kit.shipment_cost, unit: "R$ ")}" %>
                            </div>
                          </div>
                        </h5>
                        <div class="col-12 col-md-12">
                          <%= f.input :bank_slip_cpf, label: "CPF (Para emissão da Nota Fiscal)", input_html: { data: { js: "cpf" } }, maxlength: 14 %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <%= f.submit "Finalizar Pedido", name:"boleto", class: "btn btn-success submit-button", style: "color: #fff; background-color: #28a745; border-color: #28a745" %>
              </div>
            </div>
          </div>
          <div class="card-footer bg-transparent">
            <%= image_tag("secure.jpg", class: "img-fluid d-block mx-auto") %>
          </div>
        </div>
        <h6 class="text-black-50 mt-2"><small>Taxa de 2,99% a.m.</small></h6>
      </div>
    </div>
    <% if @order.kit.possale %>
      <div class="row mb-4 w-100 justify-content-end">
        <div class="col-md-6">
          <div class="upsell">
            <div class="upsell-content">
              <div class="upsell-image">
                image
              </div>
              <div>
                <div>
                  <h4>
                    Não perca essa oportunidade, adicione esse produto ao carrinho: <%= @order.upsell_product.name %>
                  </h4> 
                </div>
                <div>
                  Pelo preço de <%= number_to_currency(@order.upsell_product.price, unit: "R$ ") %> você adicionara ao check-out: <%= @order.upsell_product.name %>
                </div>
                <div class="upsell-selection">
                  <%= f.input :add_upsell_product, label: "Adicionar: ", collection: [["Sim", true], ["Não", false]], input_html: { data: { action: "input->upsell#update", price: (@order.upsell_product.price_cents / 100) } } %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  <div class="container-fluid mb-3">
    <div class="container">
      <div class="footer-checkout">
        <div class="col-md-4">
          <h5>FORMAS DE PAGAMENTO</h5>
          <%= image_tag "pagamentos.png"%>
        </div>
        <div class="col-md-4">
          <h5>PAGAMENTO SEGURO</h5>
          <%= image_tag "seguro.png"%>
        </div>
        <div class="col-md-4">
          <h5>TERMOS</h5>
          <div style="display: grid">
            <a href="#" target="_blank">Política de privacidade</a>
            <a href="#" target="_blank">Termos de compra</a>
          </div>
        </div>
      </div>
      <div class="footer-detail">
        Essa compra sera processada pelo Pagarme.
      </div>
    </div>
  </div>
</div>
