<div data-controller="masks payment-method upsell">
  <%= simple_form_for @order, url: orders_path, method: :post do |f| %>
    <%= f.input :kit_id, as: :hidden %>
    <%= f.input :visit_id, as: :hidden %>

    <%= render "orders/new/banner", order: @order %>

    <div class="center-content">
      <div class="row mb-4 w-100 checkout-group">
        <div class="col-sm-12 col-md-6 checkout-columns">
          <%= render "orders/new/customer_infos", f: f, order: @order %>
        </div>
        <div class="col-sm-12 col-md-6 checkout-columns">
          <%= render "orders/new/payment_infos", f: f, order: @order %>
        </div>
      </div>
    </div>
  <% end %>
  <%= render "orders/new/footer" %>
</div>
