<% if user_signed_in? %>
  <div class="main">
    <div class="container">
      <%= simple_form_for @order do |f| %>
        <div class="container-fluid">
          <div class="row mb-4"> 
            <div class="col-12 col-md-6">
              <div class="card mb-4">
                <div class="card-header text-center">
                  <h4>  
                    1 - Para Onde Enviamos Seu Pedido?
                  </h4>
                </div>
                <div class="card-body">
                  <div class="form-group row">
                    <div class="col-12 col-sm-6">
                      <%= f.input :first_name, label: "Nome" %>
                    </div>
                    <div class="col-12 col-sm-6">
                      <%= f.input :last_name, label: "Sobrenome" %>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-12 col-sm-6">
                      <%= f.input :email %>
                    </div>
                    <div class="col-12 col-sm-6">
                      <%= f.input :phone, label: "Numero do celular" %>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-12 col-sm-6">
                      <%= f.input :zipcode, label: "CEP" %>
                    </div>
                  </div>
                  <div>
                    <div class="form-group row">
                      <div class="col-12 col-sm-6">
                        <%= f.input :street, label: "Endereço" %>
                      </div>
                      <div class="col-12 col-sm-6">
                        <%= f.input :street_number, label: "Número" %>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-12 col-sm-6">
                        <%= f.input :complement, label: "Complemento" %>
                      </div>
                      <div class="col-12 col-sm-6">
                        <%= f.input :neighborhood, label: "Bairro" %>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-12 col-sm-6">
                        <%= f.input :city, label: "Cidade" %>
                      </div>
                      <div class="col-12 col-sm-6">
                        <%= f.input :state, label: "Estado" %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="card">
                <div class="card-header text-center">
                  <h4>
                    2 - Selecionar Pagamento
                  </h4>
                </div>
                <div class="card-body">
                  <div class="nav nav-tabs" role="tablist" id="payment-tabs">
                    <a class="nav-link active " id="home-tab-creditcard" data-toggle="tab" href="#creditcard" role="tab" aria-controls="home" aria-selected="true">
                      <span class="icon-credit-card icon-barcode" aria-hidden="true"></span>
                      Cartão <span class="d-none d-sm-inline-block">de Crédito</span>
                    </a>
                    <a class="nav-link" id="home-tab-boleto" data-toggle="tab" href="#boleto" role="tab" aria-controls="home" aria-selected="true">
                      <span class="icon-barcode" aria-hidden="true"></span>
                      Boleto
                    </a>
                  </div>
                  <div class="tab-content mt-4 payment-box" id="payment-contents">
                    <div class="tab-pane fade show active" id="creditcard" role="tabpanel">
                      <div class="row mb-4">
                        <div class="col-12 text-center">
                          
                        </div>
                        <div class="form-group row">
                          <div class="col-12 mb-1">
                            <label> Numero do cartao</label>
                            <input type="text">
                          </div>
                          <div class="col-12 col-sm-6 mb-1">
                            <label> Nome do titular</label>
                            <input type="text">
                          </div>
                          <div class="col-12 col-sm-6 mb-1">
                            <label> CPF do titular</label>
                            <input type="text">
                          </div>
                          <div class="col-12 col-sm-6 mb-1">
                            <label> Data de expiracao</label>
                            <input type="text">
                          </div>
                          <div class="col-12 col-sm-6 mb-1">
                            <label> Cod de seguranca</label>
                            <input type="text">
                          </div>
                        </div>
                        <div class="col-12">
                          <label> Frete
                          </label>
                          <div class="form-check">
                            <label class="form-check-label">
                              <input type="radio" value="1" checked>
                              RS 0,00                              
                            </label>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="installments">
                            Parcelamento
                          </label>
                          <select name="" id=""> 12x1</select>
                        </div>
                        <%= f.button :submit, 'Finalizar Pedido', class: "btn btn-primary submit-button" %>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="boleto" role="tabpanel">
                      <div class="row">
                        <div class="col-12 mb-2">
                          <img src="<%= asset_path( 'Boleto.jpg' ) %>" alt="Boleto" class="img-fluid d-block mx-auto checkout-boleto-img">
                        </div>
                        <div class="col-12 ">
                          <ol>
                            <li>Pagamentos por boleto só podem ser efetuados à vista</li>
                            <li>A compensação do pagamento pode levar até 3 dias úteis</li>
                            <li>O Boleto será gerado por meio desta plataforma</li>
                            <li>Depois do pagamento, fique atento ao seu e-mail para acompanhar o envio do seu pedido (verifique também
                                a caixa de SPAM)
                            </li>
                          </ol>
                        </div>
                        <div class="col-12">
                          PRECO DO KIT!!
                        </div>
                        <div>
                          <%= f.input :CPF, label: "CPF (Para emissão da Nota Fiscal)" %>
                        </div>
                        <%= f.button :submit, 'Gerar boleto', class: "btn btn-primary submit-button" %>
                      </div>
                    </div>
                  </div> 
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% else %>
<% end %>