<div class="card-trip">
  <% if @order.kit.banner.attached? %>
    <%= cl_image_tag @order.kit.banner.key, style: "" %>
  <% end %>
</div>



<div class="thanks-container">
  <h1>Obrigado pela sua compra!</h1>
  <br>
  <div class="d-flex">
    <div class="product-info">
      <h3>Informações do Produto:</h3>
      
      <h4><%= @order.kit.name.capitalize %></h4>

      <br>
      <p>Valor do Kit: <%= number_to_currency(@order.products_amount , unit: "R$ ", separator: ",")  %></p>
      <p>Frete: <%= number_to_currency(@order.kit.shipment_cost, unit: "R$ ", separator: ",")  %></p>
      <p>Total:  <%= number_to_currency(@order.total_amount, unit: "R$ ", separator: ",")  %> </p>
    </div>
    <div class="order-info">
      <h3>Informações do Pedido:</h3>
      <br>
      <p>Número de Parcelas: <%= @order.installments %></p>

      <% unless @order.payment_method %>
        <p>Código de Barra: <%= @order.boleto_bar_code %></p>

        <%= link_to "Ver Boleto", @order.boleto_url, target:"_blank", class:"btn btn-primary" %>


      <% end %>
      <p></p>


    </div>
    

  </div>
</div>