<div class="card-trip">
  <% if @order.kit.banner.attached? %>
    <%= cl_image_tag @order.kit.banner.key, style: "" %>
  <% else %>
    <%#= image_tag "banner_vmd3.png", width: "1070px", height: "300px", style: "" %>
  <% end %>
</div>



<div class="thanks-container">
  <h1>Obrigado! Sua Compra!</h1>
  <br>
  <div class="d-flex">
    <div class="product-info">
      <h3>Informações do Produto</h3>
      
    </div>
    <div class="order-info">
      
    </div>
    

  </div>
</div>





<!-- <br>

Preço: <%= @order.price.to_i %>

<br>
<br>
<br>

Status: <%= @order.status %>

<br>
<br>
<br>

Informações de compras por boleto:

<br>
<br>
<br>

Url do Boleto: <%= @order.boleto_url %>

<br>
<br>
<br>
Código de barras do Boleto: <%= @order.boleto_bar_code %> -->
