<h1>Esse app foi desenvolvido por:</h1>

<!-- Vini -->
<div>
	<h2>Vinícius Costa</h2>
	<div class="d-flex mt-3">
		<%= link_to "https://github.com/vmfrcosta" do %>
			<img align="left" alt="GitHub" width="50px" src="https://raw.githubusercontent.com/github/explore/78df643247d429f6cc873026c0622819ad797942/topics/github/github.png" />
		<% end %>
	</div>
</div>

<br>


<!-- Neto -->
<div>
	<h2>Neto Concon</h2>
	<div class="d-flex mt-3">
		<%= link_to "https://github.com/netoconcon" do %>
			<img class="pr-3" align="left" alt="GitHub" width="50px" src="https://raw.githubusercontent.com/github/explore/78df643247d429f6cc873026c0622819ad797942/topics/github/github.png" />
		<% end %>
		<%= link_to "https://northern.com.br" do %>
			<img class="pr-3" alt="Website Northern" width="50px" src="https://raw.githubusercontent.com/iconic/open-iconic/master/svg/globe.svg" />
		<% end %>
		<%= link_to "https://blog.northern.com.br" do %>
			<img class="pr-3 align="right" alt="Blog Northern" width="50px" src="https://raw.githubusercontent.com/iconic/open-iconic/master/svg/globe.svg" />
		<% end %>
	</div>
</div>

<!-- Rafa -->
<br>
<div>
	<h2>Rafael Osawa</h2>
	<div class="d-flex mt-3">
		<%= link_to "https://github.com/rafael-os" do %>
			<img align="left" alt="GitHub" width="50px" src="https://raw.githubusercontent.com/github/explore/78df643247d429f6cc873026c0622819ad797942/topics/github/github.png" />
		<% end %>
	</div>
</div>


