<div class="main">
  <div class="container">
    <div>
      <p>
        <i class="fas fa-building"> Total de empresas cadastradas: <%= Company.all.size %></i>
      </p>
      <p>
        <i class="fas fa-box-open"> Total de produtos cadastrados: <%= Product.all.size %></i>
      </p>
      <p>
        <i class="fas fa-boxes"> Kits criados: <%= Kit.all.size %></i>
      </p>
      <p>
        <i class="fas fa-globe"> Total de paginas criadas: <%= SellingPage.all.size %></i>
      </p>
      <p>
        <i class="fas fa-link"> Links de redirecionamento gerados: <%= Campaign.all.size %></i>
      </p>

      <p>
        Chartkick testing
      <%= timeline [
        ["Washington", "1789-04-29", "1797-03-03"],
        ["Adams", "1797-03-03", "1801-03-03"],
        ["Jefferson", "1801-03-03", "1809-03-03"]
      ] %>
      </p>
    </div>
  </div>
</div>