<div class="text-center">
  <h1>Dashboard de Vendas</h1>
</div>


<div class="control-panel d-flex pt-3 justify-content-between">
  <div class="current-month">
    <h4 class="pl-4">Dados de: <%= @start_date %> até <%= @end_date %></h4>
  </div>
  <div class="filter-form pr-4">
    <form action="/" method="get">
      <input type="date" name="start_date" placeholder="Data Inicial">
      <input type="date" name="end_date" placeholder="Data Final">
       <input type="submit">
    </form>
  </div>
</div>


<div class="kpi-grid text-center">
  <div class="main-kpi p-4">
    <h5>R$ <%= @total_sold %> </h5>
    <h6>Vendas</h6>
  </div>
  <div class="main-kpi p-4">
    <h5>R$ <%= @average_ticket %></h5>
    <h6>Ticket Médio</h6>
  </div>
  <div class="main-kpi p-4">
    <h5><%= @paid_orders.count %></h5>
    <h6>Pedidos Pagos</h6>
  </div>

  <div class="main-kpi p-4">
    <h5><%= @orders.count %></h5>
    <h6>Pedidos Totais</h6>
  </div>
</div>

<div class="chart-grid">
  <div class="first-column">
    <div class="chart-item">
      <%= pie_chart({"Cartão" => @period_card, "Boleto" => @period_boleto}, donut: true, title: "Cartão x Boleto", legend: "bottom", width: "240px", height: "200px", thousands: ".", decimal: ",", library: {backgroundColor: "#ffffff"} )%>
    </div>
    <div class="chart-item">
      <%= pie_chart({"Pagos" => @paid_orders.count, "Em Aberto" => (@orders.count - @paid_orders.count)}, donut: true, title: "Pedidos em Aberto", legend: "bottom", width: "240px", height: "200px", thousands: ".", decimal: ",", library: {backgroundColor: "#ffffff"} )%>
    </div>
  </div>

  <div class="large-chart-item">
    <%= column_chart @last_sales, title: "Evolução das Vendas" , width: "650px", height: "400px", thousands: ".", decimal: ",", library: {backgroundColor: "#ffffff"} %>
  </div>


</div>



