<div class="container">
  <p>Minhas empresas</p>

  <table class="table">
  <p> <%= link_to "Cadastrar empresa", new_company_path %> </p>

  <% @companies.each do |company|%>

    <p>
      Empresa:
      <%= company.name %>
      <%= company.international %>
      <%= company.cnpj %>
      <%= company.email_support %>
      <%= company.phone_support %>
      <%= company.shipment_origin_zipcode %>
      <%= link_to "Detalhes", company_path(company) %>
      <%= link_to "Editar", edit_company_path(company) %>
    </p>
    <p>
      <% @bank_accounts.where(company_id: company.id).each do |bank_account| %>
        <p>
        Conta bancaria: 
        <%= bank_account.international %>
        <%= bank_account.bank_code %>
        <%= bank_account.bank_name %>
        <%= bank_account.agency_number %>
        <%= bank_account.account_number %>
        <%= link_to "Editar", edit_company_bank_account_path(company_id: bank_account.company_id, id: bank_account.id) %>
        <%= link_to "Apagar conta", company_bank_account_path(company_id: bank_account.company_id, id: bank_account.id), method: :delete %>
        </p>
      <% end %>
    </p>
  <p> ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ </p>

  <% end %>
</div>