<div class="container" data-controller="masks bank">

  <p>Adiconar conta bancaria da <%= @company.name %></p>

  <%= simple_form_for [@company, @bank_account], url: company_bank_accounts_path do |f| %>
    <%= f.input :international,  as: :select, colletion: [['Nao', false], ['Sim', true]], include_blank: false %>
    <%= f.input :bank_code, label: 'Codigo do banco', collection: banklist.map{ |obj| "#{obj[:value]} - #{obj[:label]}" }, input_html: { "data-action" => "change -> bank#name" } %>
    <%= f.input :bank_name, label: 'Banco', input_html: { "data-target" => "bank.label" }, readonly: true %>
    <%= f.input :agency_number, label: 'Agencia', input_html: { "data-js" => "agency", maxlength: 5} %>
    <%= f.input :account_number, label: 'Conta' %>
    <%= f.button :submit, 'Cadastrar', class: "btn btn-primary" %>
  <% end %>
</div>
<!-- collection: banklist.map{ |obj| obj[:label] } -->
<!-- , label_method: lambda { |bank| "#{bank} - #{bank_code_name[bank]}"} -->