<div class="order-info-kit-image-header">
</div>
<div class="order-info-kit-name">
  <%= camp.selling_page.url %>
</div>
<div class="order-info-kit-name">
  <%= camp.title %>
</div>
<div class="order-info-kit-name">
  <%= camp.fbid %>
</div>
<div class="order-info-kit-name">
  <%= camp.utm_source %> 
</div>
<div class="order-info-kit-name">
  <%= camp.utm_campaign %>
</div>
<div class="order-info-kit-name">
  <%= camp.utm_medium %>
</div>
<div class="order-info-kit-name">
  <%= camp.pubid %>
</div>
<div class="order-info-kit-name">
  <%= camp.visits.count %>
</div>