<div data-controller="infoproduct">
  <div class="container">
    <h2>Editar produto</h2>
    <%= simple_form_for [:admin, @company, @product] do |f| %>
      <div class="styler">
        <div class="columns">
          <div>
            <%= f.input :name, label: 'Nome do produto' %>
            <%= f.input :sku, hint: "opcional", label: 'Codigo SKU' %>
          </div>
          <div>
            <%= f.association :company, value_method: :id, disabled: true %>
            <%= f.input :external_id, label: 'ID Externo', hint: "opcional", as: :string %>
          </div>
        </div>
        <div class="description">
          <%= f.input :description, label: 'Descrição' %>
        </div>
        <div class="columns">
          <div>
            <%= f.input :virtual, label: 'Infoproduto', input_html: { "data-action" => "change -> infoproduct#selection" },:as => :select, :collection => [['Nao',false],['Sim',true]], :include_blank => false, disabled: true %>
          </div>
          <div>
            <%= f.input :price, label: 'Preco de venda' %>
          </div>
        </div>
        <div class="columns">
          <%= f.input :photo, as: :file %>
        </div>
      </div>
      <div class="styler-margin">
        <div data-target="infoproduct.specs" class="styler dimensions"  >
          <%= f.input :weight, label: 'Peso', as: :string %>
          <%= f.input :height, label: 'Altura', as: :string %>
          <%= f.input :width, label: 'Largura', as: :string %>
          <%= f.input :length, label: 'Comprimento', as: :string %>
        </div>
        <div data-target="infoproduct.vurl" class="styler virtual-url" style="display: none;">
          <%= f.input :virtual_url, label: 'Link do Infoproduto' %>
        </div>
      </div>
      <%= f.button :submit, 'Editar', class: "btn btn-primary submit-product" %>
    <% end %>
  </div>
</div>