<div data-controller="masks bank">
  <div class="container">
    <h2>Adiconar conta bancaria da <%= @company.name %></h2>

    <%= simple_form_for [:admin, @company, :admin, @bank_account], url: admin_company_bank_accounts_path do |f| %>
      <%= f.input :international, :as => :select, :collection => [['Nao',false],['Sim',true]], :include_blank => false %>
      <%= f.input :bank_code, label: 'Codigo do banco', input_html: { "data-target" => "bank.label" }, readonly: true %>
      <%= f.input :bank_name, label: 'Banco', collection: banks_name, input_html: { "data-action" => "change -> bank#name" } %>
      <%= f.input :agency_number, label: 'Agencia', input_html: { "data-js" => "agency", maxlength: 5} %>
      <%= f.input :account_number, label: 'Conta' %>
      <%= f.button :submit, 'Cadastrar', class: "btn btn-primary" %>
    <% end %>
  </div>
</div>