<% if @order.kit.possale %>
  <% if @order.upsell_product %>
      <div class="col-12">
        <div class="upsell p-2">
          <div class="upsell-content">
            <div class="upsell-image mb-3">
              <% if @order.upsell_product.photo.attached? %>
                <%= cl_image_tag @order.upsell_product.photo.key, width: "140px", height: "220px", style: "" %>
              <% end %>
            </div>
            <div>
              <div>
                <h5>
                  <%= @order.upsell_product.name.capitalize %>
                </h5>
                <h6>
                  <%= @order.kit.upsell_message %>
                </h6>
              </div>
              <div>
                Pelo preço de <%= number_to_currency(@order.upsell_product.price, unit: "R$ ") %> você adicionara ao check-out: <%= @order.upsell_product.name.capitalize %>
              </div>
              <div class="upsell-selection">
                <%= f.input :add_upsell_product, label: "Adicionar: ", collection: [["Sim", true], ["Não", false]], input_html: { data: { action: "input->upsell#update", price: (@order.upsell_product.price_cents / 100) } } %>
              </div>
            </div>
          </div>
        </div>
      </div>
  <% end %>
<% end %>