<% if render_admin_filter %>
  <div>
    <%= simple_form_for :admin, method: :get, url: request.url do |form| %>
      <div class="d-flex align-items-center">
        <div class="d-flex align-items-center mr-3">
          <span class="mr-3"><strong>Produto:</strong></span>
          <%= form.input :product_id, as: :select, collection: products_list, label: false, selected: filtered_product&.id, include_blank: true %>
        </div>
        <div class="d-flex align-items-center">
          <span><strong>Período:</strong></span>
          <%= form.input :filtered_period_start, label: false, placeholder: "Início", input_html: { value: filtered_period_start.strftime("%d/%m/%y") } %>
          <%= form.input :filtered_period_end, label: false, placeholder: "Fim", input_html: { value: filtered_period_end.strftime("%d/%m/%y") } %>
        </div>
        <div class="mr-3">
          <%= form.submit "Filtrar", class: "btn btn-primary", style: "border-radius: 16px" %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>