<div class="main">
  <h2>Links de redirecionamento</h2>
  <p> <%= link_to "Gerar link de redirecionamento", new_campaign_path %> </p>
  <table class="table">
    <thead>
      <th scope="col">ID</th>
      <th scope="col">title</th>
      <th scope="col">fbid</th>
      <th scope="col">utm_source</th>
      <th scope="col">utm_campaign</th>
      <th scope="col">utm_medium</th>
      <th scope="col">utm_term</th>
      <th scope="col">utm_content</th>
      <th scope="col">Editar</th>
      <th scope="col">Apagar</th>
    </thead>
    <tbody>
      <% @campaigns.each do |campaign| %>
        <tr>
          <td><%= campaign.id %></td>
          <td><%= campaign.title %></td>
          <td><%= campaign.fbid %></td>
          <td><%= campaign.utm_source %></td>
          <td><%= campaign.utm_campaign %></td>
          <td><%= campaign.utm_medium %></td>
          <td><%= campaign.utm_term %></td>
          <td><%= campaign.utm_content %></td>
          <td><%= link_to "Editar", edit_campaign_path(campaign)%></td>
          <td><%= link_to "Apagar", campaign_path(campaign), method: :delete %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>