<div class="container">
  <h2>Nova pagina de produtos</h2>
  <p>
    Meus produtos
    <%= link_to "Cadastrar novo produto", new_product_path %>
  </p>
  <table class="table">
    <thead>
      <th scope="col">ID</th>
      <th scope="col">Imagem</th>
      <th scope="col">Codigo SKU</th>
      <th scope="col">Nome</th>
      <th scope="col">Preço</th>
      <th scope="col">Editar</th>
      <th scope="col">Apagar</th>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <th scope="row"><%= product.id %></th>
          <td>imagem</td>
          <td><%= product.sku %></td>
          <td><%= product.name %></td>
          <td><%= product.price %></td>
          <td><%= link_to "Editar", edit_product_path(product) %></td>
          <td><%= link_to "Apagar produto", product_path(product), method: :delete, data: { confirm: 'Você tem certeza que deseja apagar o produto?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>