<div class="container">
  <%= simple_form_for [@company, @product] do |f| %>
    <%= f.input :name, label: 'Nome do produto' %>
    <%= f.association :company, value_method: :id %>
    <%= f.input :sku, hint: "opcional", label: 'Codigo SKU' %>
    <%= f.input :description, label: 'Descricao' %>
    <%= f.input :virtual_url, label: 'Infoproduto', input_html: { id: 'infoproduto' }, as: :select, colletion: [['Nao', false], ['Sim', true]] %>
    <%= f.input :price, label: 'Preco de venda' %>
    <%= f.input :external_id, label: 'ID Externo', hint: "opcional" %>
    <%= f.input :weight, label: 'Peso' %>
    <%= f.input :height, label: 'Altura' %>
    <%= f.input :width, label: 'Largura' %>
    <%= f.input :length, label: 'Comprimento' %>
    <%= f.input :virtual_url, label: 'Link do Infoproduto' %>
    <%= f.button :submit, 'Cadastrar', class: "btn btn-primary" %>
  <% end %>
</div>